<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-gray-300">
    {%  include "components/navbar.html.jinja"  %}

     <div class="flex justify-center">
        <h1 class="text-3xl font-bold p-6 m-2 ">
      RicannStudios
        </h1>
        </div>


         <p class="font-serif text-lg p-4 mx-8 text-center" style="font-family: 'Lora', serif;">
        El Ricann at your service, providing you with the best loaded COD and Fortnite accounts, and endless motivation aligning with your goals. (LOGO above this!)
    </p>
    

     <div class="absolute top-85 right-8 text-white bg-black py-2 px-4 rounded-md text-lg font-semibold">
            Discount Code: <span class="text-red-500">Ricann</span>
        </div>

<div class="absolute top-100 right-8 mb-8 ml-8">
            <a href="/cart" class="bg-gray-500 text-gray py-3 px-8 rounded-full text-xl font-semibold hover:bg-red-500 transition-colors">
                Go to Cart
            </a>
        </div>

  </body>
</html>