<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-gray-300">
    {%  include "components/navbar.html.jinja"  %}


    <div class="mt-12"></div>


 <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 items-start">

  <div>
    <div class="space-y-4">
      <img 
        src="{{ product['Image'] }}"
        class="rounded-md shadow-sm h-130 m-2"
      />
    </div>

    <h1 class="text-3xl font-bold  mb-2 m-2">
      {{ product['Name'] }}
    </h1>

    <div class="text-2xl font-medium m-2">
      <h3>{{ product['Price'] }}</h3>
    </div>
  </div>


  <div class="flex flex-col items-center text-center space-y-6">


    <h1 class="text-2xl font-bold m-2 justify-center">
    Description
    </h1>

    <p class="text-neutral-700  max-w-sm  m-8 ">
      {{ product['Description'] }}
    </p>

<form method="post" action="/product/{{ product['ID'] }}/add_to_cart">

    <label> Qty:</label>
    <input type="number" name="qty" value="1" min="1" max="3">
    <button 
      class="bg-gray-200 text-black py-2 px-6 text-sm font-bold  rounded-md 
             hover:bg-red-500 transition-colors cursor-pointer "
    >
      Add to Cart
    </button>

</form>
<a href="/checkout">
    <button 
      class="bg-gray-200 text-black py-2 px-6 text-sm font-bold  rounded-md 
             hover:bg-red-500 transition-colors cursor-pointer "
    >
      Checkout
    </button>
</a>
    

  </div>

</div>






  <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-10">

   
    {% for item in products %}
    <a href="/product/{{ item['ID'] }}" class="group block">

      <div class="aspect-square overflow-hidden rounded-lg bg-gray shadow-sm">
        <img 
          src="{{ item['Image'] }}" 
          class="w-full h-full object-cover group-hover:scale-105 transition duration-300"
        />
      </div>

      <h3 class="mt-4 text-lg font-light tracking-wide">
        {{ item['Name'] }}
      </h3>

      <p class="text-neutral-700 text-sm">
        {{ item['Price'] }}
      </p>

    </a>
    {% endfor %}

  </div>


<div class="mt-12 bg-gray-500 rounded-md shadow p-6 max-w-lg mx-auto">

  <h2 class="text-xl font-bold mb-4">Leave a Review</h2>

  <form method="post" action="/product/{{ product['ID'] }}/add_review" class="space-y-4">

    <input type="text" name="user" placeholder="Your name"required class="w-full border rounded px-3 py-2" >

    <select  name="rating"  required class="w-full border rounded px-3 py-2">
      <option value="">Rating</option>
      <option value="5">⭐⭐⭐⭐⭐</option>
      <option value="4">⭐⭐⭐⭐</option>
      <option value="3">⭐⭐⭐</option>
      <option value="2">⭐⭐</option>
      <option value="1">⭐</option>
    </select>

    <textarea 
      name="comment" 
      placeholder="Write your review..."
      required
      class="w-full border rounded px-3 py-2"
    ></textarea>

    <button 
      class="bg-gray-800 text-white px-6 py-2 rounded hover:bg-red-500 transition"
    >
      Submit Review
    </button>

  </form>
</div>


<div class="mt-16 max-w-2xl mx-auto">

  <h2 class="text-2xl font-bold mb-6">Customer Reviews</h2>

  {% if reviews %}
    <div class="space-y-6">
      {% for review in reviews %}
        <div class="bg-gray-200 rounded-md shadow p-4">

          <h4 class="font-semibold mb-1">
            {{ review['UserName'] }}
          </h4>

          <div class="text-yellow-500 mb-2">
            {{ "⭐" * review['Rating'] }}
          </div>

          <p class="text-black">
            {{ review['Comments'] }}
          </p>

        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="text-neutral-600">No reviews yet. Be the first!</p>
  {% endif %}

</div>







<div class="max-w-screen-xl mx-auto px-6 lg:px-10 mt-20">

  <h2 class="text-2xl font-light tracking-wide mb-10">
    You May Also Like
  </h2>

</div>

<footer class="lux-footer" style="text-align:center;">
    <p>© 2025 — Created with purpose.</p>
</footer>

  </body>
</html>