<nav class="bg-gray-500 p-4 flex items-center justify-between">
<a href="/" class="font-bold "> RicannStudios</a>

<div class="hidden md:flex space-x-6">
<a href="/contact"class="hover:text-red-500 transition-colors font-bold ">Contact</a>
<a href="/browse"class="hover:text-red-500 transition-colors font-bold ">Accounts</a>
<a href="/cart"class="hover:text-red-500 transition-colors font-bold ">Cart</a>
<a href="/sign up"class="hover:text-red-500 transition-colors font-bold ">Sign up</a>
<a href="/sign in"class="hover:text-red-500 transition-colors font-bold ">Sign in</a>
</div>
</nav>